{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      // https://babeljs.io/docs/en/babel-preset-env#usebuiltins
      "useBuiltIns": "entry"
    }]
  ]
}
